[Unit]
Description=Bluesky Feed Generator Service
After=network-online.target

[Container]
Image=ghcr.io/braccae/bsky-feed-from-tv:latest

PublishPort=8000:8000

EnvironmentFile=%h/appdata/bluesky-feed-generator/env

Volume=%h/appdata/bluesky-feed-generator/data:/app/data:Z

AutoUpdate=registry

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
